body{
    background-color: rgb(3, 1, 66);
}
h1, h2{
    text-align: center;
     font-family: "Press Start 2P";
     font-weight: 400;
    font-style: normal;
    color: rgb(213, 135, 25);
    text-shadow: 2px 2px 2px rgba(248, 248, 248, 0.934);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    font-family: "Press Start 2P";
    font-weight: 400;
    font-style: normal;
    color: azure;
}
.team{
    text-align: center;
}
.score{
    font-size: 64px; 
}
.reset {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    font-family: "Press Start 2P";
    cursor: pointer;
}
.btn{
    font-size: 24px;
    font-family: "Press Start 2P";
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
.options{
    display: flex;
    justify-content: center;
}